<!DOCTYPE html>
<html>

<head>
    <title>update</title>
</head>

<body>
    <script>
        function onsubmit(e) {
            e.preventDefault();
            var f = document.getElementById("tblForm");
            var id = document.getElementById("id");
            console.log(id);
            f.setAttribute("action", `/api/put/${id.value}`);
            console.log(f);
            f.submit();
        }
    </script>
    <form action="" method="POST">
        <input type="hidden" name="_method" value="PUT">
        <input type="text" name="id" id="id" value=""> <br>
        <input type="text" name="name" id="name" value=""><br>
        <button type="submit" onclick="onsubmit(Event)">update</button>
    </form>
</body>

</html>